/*
<!DOCTYPE css>
Jamal Moubarak
Project 3
VFW 1303
*/

html {
    background-color: white;
}
header {
	font-size: 80%;
}
.addButton {
	text-align: center;
}
a:link {
	color: blue;
}
a:visited {
	color: blue;
}
a:hover {
	color: gray;
	outline: 1px dotted blue;
}
a:active {
	color: black;
}
fieldset {
    font-family: helvetica, arial, sans-serif;
    font-size: 80%;
    margin: 0em auto;
    padding: 1em auto;
    background-color: #f1f1f1;
    color: #4D4B39;
    max-width: 35em;
    border: 5px solid #6e6e6e;
    line-height: 1.5em;
}
ul {
	list-style: none;
}
h1 {
	color: #f5f800;
	font-family: helvetica, arial, sans-serif;
	text-align: center;
	margin: 0em -1em 0.5em -1em;
	padding: 0.5em 0em 0.5em 0em;
	background-color: #07002b;
}
h2 {
	color: #ff8c05;
	font-family: helvetica, arial, sans-serif;
	font-size: 225%;
	text-align: center;
	margin: 1em -1em 0.5em -1em;
	padding: 0.5em 0em 0.5em 0em;
	background-color: ;	
}
legend {
	color: #ff8c05;	
}
.saveButton {
	text-align: right;
	margin: 0.2em 0em 0em 0em
}
#editClientButton {
	display: none;
}
.txtinput {
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;
    padding: 0.6em;
    border: 0.1em solid #8baceb;
    -moz-box-shadow: 0em 0em 0.2em #000;
    -webkit-box-shadow: 0em 0em 0.2em #000;
    margin-bottom: 0.3em;
    background: #f7f9fa;
    width: 19em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.dropdown {
	-webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;
    padding: 0.6em;
    border: .2em solid #8baceb;
    -moz-box-shadow: 0em 0em 0.2em #000;
    -webkit-box-shadow: 0em 0em 0.2em #000;
    margin-bottom: 0.3em;
    background: #f7f9fa;
    width: 20.5em;
    height: 2.7em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;	
}
#items ul {
	list-style: none;	
	font-family: helvetica, arial, sans-serif;
    font-size: 90%;
    margin: 0em;
    padding: 0.3em;
    background-color: #f1f1f1;
    color: #4D4B39;
    max-width: 35em;
    border: 0.3em solid #6e6e6e;
    line-height: 1.3em;
}
.installIcon {
	margin: -1em 0em -2em 0em;
}
#errors {
	color: red
}
#quanity {
	width: 13.2em;
}
#range {
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;
    padding: 0.5em;
    border: 0.1em solid #8baceb;
    -moz-box-shadow: 0em 0em 0.2em #000;
    -webkit-box-shadow: 0em 0em 0.2em #000;
    margin-left: 0.5em;
    background: #f7f9fa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}